$redish-orange: #f76d3c;
$purple: #913ccd;
$blue: #5481e6;
$yellow: #f7d842;
$pink: #f15f74;
$green-lighter: #98cb4a;
$green: #3fb871;
$green-darker: #36a66d;
$green-text: #59b586;
$gray-90: #e6e6e6;
$gray-75: #bfbfbf;
$gray-70: #b3b3b3;
$gray-55: #8c8c8c;
$gray-50: #808080;
$gray-30: #4d4d4d;
$gray-25: #404040;
$gray-20: #333333;
$gray-15: #262626;
$black-opacity-3: rgba(0, 0, 0, 0.3);
$black-opacity-2: rgba(0,0,0,0.2);
