@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700');
@font-face {
  font-family: 'GulyesaScript';
  src:  url('../fonts/GulyesaScript.eot');
  src: url('../fonts/GulyesaScript.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GulyesaScript.woff2') format('woff2'),
  url('../fonts/GulyesaScript.woff') format('woff'),
  url('../fonts/GulyesaScript.ttf') format('truetype'),
  url('../fonts/GulyesaScript.otf') format('opentype');
}
