@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,300i,400,400i,500,500i,700,700i');
@font-face {
  font-family: 'GulyesaScript';
  src:  url('../fonts/GulyesaScript.eot');
  src: url('../fonts/GulyesaScript.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GulyesaScript.woff2') format('woff2'),
  url('../fonts/GulyesaScript.woff') format('woff'),
  url('../fonts/GulyesaScript.ttf') format('truetype'),
  url('../fonts/GulyesaScript.otf') format('opentype');
}
