mixin comment
  .comment
    .comment__element
      img.comment__image(src="../../images/comment-img.jpg", alt="")
    .comment__element
      h6.comment__name Nguyễn Văn An
      p.comment__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      p.comment__time Thứ 7, 26/12/2015 12: 00 AM
    .comment__element.comment__element--absolute
      p.comment__reply
        a.comment__link(href="") Trả lời
