.cart {
  padding-bottom: 80px;
  margin-top: -10px;
  @include respond-to('phone-and-down') {
    padding-bottom: 30px;
  }
  &__title {
    margin-bottom: 75px;
  }
  &__table,
  &__body,
  &__tr,
  &__th,
  &__td {
    @include respond-to('phone-and-down') {
      display: block;
    }
  }
  &__table {
    width: 100%;
    font-size: 18px;
    color: $gray-55;
    text-align: center;
    margin-bottom: 45px;
    @include respond-to('phone-and-down') {
      font-size: 14px;
      border: solid 1px $gray-90;
      text-align: left;
    }
  }
  &__body {
    @include respond-to('phone-and-down') {
      width: 100%;
    }
  }
  &__tr {
    &--heading {
      @include respond-to('phone-and-down') {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }
    &:last-child {
      .cart__delete {
        @include respond-to('phone-and-down') {
          margin-bottom: 0;
        }
      }
    }
  }
  &__th,
  &__td {
    border: solid 1px $gray-90;
    @include respond-to('phone-and-down') {
      border: none;
      border-bottom: solid 1px $gray-90;
    }
  }
  &__th {
    font-size: 14px;
    color: $white;
    font-weight: 400;
    background-color: $green;
    padding: 15px 0;
  }
  &__images {
    width: 17%;
    @include respond-to('tablet-and-down') {
      width: 12%;
    }
    @include respond-to('phone-and-down') {
      border-bottom: 0;
    }
  }
  &__image {
    width: 155px;
    margin: 15px 0;
    @include respond-to('tablet-and-down') {
      width: 100%;
      margin: 0;
    }
  }
  &__name,
  &__total {
    width: 25%;
  }
  &__name {
    color: $green;
    @include respond-to('tablet-and-down') {
      font-size: 14px;
    }
  }
  &__price,
  &__number,
  &__delete {
    width: 11%;
  }
  &__price {
    @include respond-to('tablet-and-down') {
      width: 16%;
    }
  }
  &__name,
  &__number {
    @include respond-to('phone-and-down') {
      display: flex;
      align-items: center;
    }
  }
  &__delete {
    @include respond-to('phone-and-down') {
      border: none;
      margin-bottom: 50px;
    }
  }
  &__td {
    @include respond-to('phone-and-down') {
      width: 100%;
      position: relative;
      padding-left: 50%;
      padding-top: 15px;
      padding-bottom: 15px;
      &::before {
        position: absolute;
        width: 50%;
        left: 20px;
      }
      &:nth-of-type(2)::before {
        content: "Tên sản phẩm";
      }
      &:nth-of-type(3)::before {
        content: "Đơn giá";
      }
      &:nth-of-type(4)::before {
        content: "Số lượng";
      }
      &:nth-of-type(5)::before {
        content: "Thành tiền";
      }
      &:nth-of-type(6)::before {
        content: "Xóa";
      }
    }
    &--pay {
      padding: 25px 0;
      &::before {
        display: none;
      }
    }
    &--total {
      font-size: 18px;
      color: $white;
      background-color: $green;
    }
    &--images {
      @include respond-to('phone-and-down') {
        padding: 0;
      }
    }
  }
  &__input {
    width: 45px;
    text-align: center;
    padding: 0;
    @include respond-to('tablet-and-down') {
      width: 35px;
      height: 35px;
      margin-top: 20px;
    }
    @include respond-to('phone-and-down') {
      margin: 0;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: -10px;
    margin-bottom: 70px;
  }
  &__button {
    margin: 0 10px;
    .button {
      padding: 9px 15px;
    }
  }
  &__pay-wrap {
    display: flex;
    justify-content: flex-end;
  }
  &__pay {
    width: 680px;
    font-size: 14px;
    color: $green;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
    @include respond-to('tablet-and-down') {
      width: 100%;
    }
    @include respond-to('phone-and-down') {
      border: solid 1px $gray-90;
    }
  }
}
