.comment {
  display: flex;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
  &__element {
    &--absolute {
      position: absolute;
      top: 40px;;
      right: 0;
      transition: 0.3s;
      &:hover {
        color: $green;
      }
    }
  }
  &__image {
    border-radius: 50%;
    margin-right: 35px;
    @include respond-to('smallphone-and-down') {
      width: 50px;
      margin-right: 15px;
    }
  }
  &__name,
  &__text {
    margin-bottom: 12px;
  }
  &__name {
    font-size: 14px;
    color: $gray-20;
  }
  &__text,
  &__time,
  &__reply {
    font-size: 12px;
  }
  &__text,
  &__time {
    color: $gray-55;
  }
  &__time,
  &__reply {
    font-style: italic;
  }
  &__reply {
    text-decoration: underline;
    margin-bottom: 0;
  }
}
