.large-news {
  word-break: break-word;
  &__title {
    margin-bottom: 15px;
    color: $gray-40;
    font-size: 18px;
  }
  &__info {
    margin-bottom: 20px;
    @include clearfix;
  }
  &__detail{
    font-size: 12px;
    font-family: $roboto;
    color: $gray-70;
    float: left;
    margin-right: 16px;
    .fa {
      color: $green-text;
      margin-right: 6px;
      font-size: 14px;
    }
  }
  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  &__content {
    font-size: 12px;
    line-height: 18px;
    color: $gray-55;
  }
}