.medium-news {
  &__imgwrap {
    display: block;
    margin-bottom: 20px;
  }
  &__img {
    width: 100%;
  }
  &__date {
    font-family: $roboto;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    margin-bottom: 20px;
  }
  &__title {
    font-family: $roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 14px;
    color: $green-text;
  }
  &__content {
    font-size: 12px;
    line-height: 20px;
    color: $gray-55;
    margin-bottom: 20px;
  }
  &__anchor {
    font-family: $roboto;
    font-size: 12px;
    font-style: italic;
    color: $green-text;
    &:hover {
      text-decoration: underline;
      color: $green-text;
    }
  }
}