.new-detail {
  padding-bottom: 110px;
  &__text {
    font-size: 12px;
    color: $gray-55;
    line-height: 18px;
  }
  &__image {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__heading {
    color: $gray-20;
  }
  &__comments {
    padding-top: 75px;
  }
  &__show {
    padding-bottom: 40px;
  }
  &__comment {
    border-bottom: solid 1px $gray-90;
  }
  &__reply {
    border-top: solid 1px $gray-90;
    margin-left: 110px;
    @include respond-to('smallphone-and-down') {
      margin-left: 65px;
    }
  }
  &__form {
    margin-top: 25px;
    clear: both;
  }
  &__textarea {
    height: auto;
    padding: 15px;
  }
  .button {
    padding: 9px 60px;
    float: right;
  }
}
