.state {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  color: $white;
  font-size: 14px;
  &--green {
    background-color: $green;
  }
  &--red {
    background-color: $red;
  }
}
