mixin smallnews(img, name)
  .smallnews
    a.smallnews__imgwrap(href="#!")
      img.smallnews__img(src=img , alt="")
    h6.smallnews__name
      a(href="#!")= name
mixin medium-news
  .medium-news
    a.medium-news__imgwrap(href="#!")
      img.medium-news__img(src="images/news/medium-news-1.png", alt="")
    p.medium-news__date Thứ 7, ngày 31, tháng 12, năm 2015
    h6.medium-news__title
      a(href="#!") 15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê
    p.medium-news__content Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào
    a.medium-news__anchor(href="#!") Đọc tiếp
mixin large-news(img, title)
  .large-news
    h5.large-news__title
      a(href="#!")= title
    .large-news__info
      span.large-news__detail
        i.fa.fa-calendar
        | 20/12/2015
      span.large-news__detail
        i.fa.fa-clock-o
        | 11:20:00 AM
      span.large-news__detail
        i.fa.fa-comment-o
        | 0 Bình luận
    img.large-news__img(src=img, alt="")
    p.large-news__content Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!
