include modules/_page-list/_page-list
include modules/head/head
include modules/button/button

doctype html
html
  +head(head.home)
  body
    //- [Common Button]
    +button-green('HỦY ĐƠN HÀNG')
    +button-white('TIẾP TỤC MUA')
