include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/breadcrumb/breadcrumb
include modules/contact/contact

doctype html
html
  +head
  body
    +header
    .container
      .contact__breadcrumb
        +breadcrumb('Home', 'Liên hệ')
    +contact
    +footer
    script(src="js/main.js")
