extends layout/default

include modules/head/head
include modules/footer/footer

block head
  +head(head.home)

block header
  header
    h1 This is Header

block main
  h3 This is Main block on P000-welcome page

block footer
  h3 This is Footer block on P000-welcome page
