doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title UI Elements
    link(rel='stylesheet', href='css/main.css')
  body
    // Common button

    .container-fluid.collection-btn
      h1 Elements
      p This page spends for list all mixin and element .
    script(src='js/main.js', charset='utf-8')
